body {
    background:#eee;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
    padding-left: 250px; /* La même largeur que le header */
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.header {
    position: fixed; /* Fixe le header à la position de l'écran */
    top: 0; /* En haut de la fenêtre */
    left: 0; /* À gauche de la fenêtre */
    width: 250px; /* Largeur du header, à ajuster si besoin */
    height: 100vh; /* Toute la hauteur de l'écran */
    background: #f5f5f5; /* Couleur de fond, à garder ou modifier */
    border-right: 1px solid rgba(0,0,0,.1);
    z-index: 999; /* S'assure qu'il reste au-dessus du contenu */
    overflow-y: auto; /* Si le contenu dépasse, il sera défilable */
}
.search {
    padding: 1rem;
    background: #f39c12;
}

.search-input {
    padding: .75rem 1rem;
    border: none;
    font-size:1.2em;
    width:100%;
    border-radius:2rem;
}

.title {
    font-size: 2em;
    font-weight: bold;
    border-bottom:3px solid #f39c12;
    padding-bottom:1rem;
}

.nav {
    padding: 2rem;
   
}

.nav-links {
    margin-top: 2rem;
}

.nav-item {
    font-size: 1.2rem;
    text-transform: uppercase; /* Met le texte en majuscule */
    background-color: #d3d3d3; /* Fond gris clair */
    border-radius: 8px; /* Coins arrondis */
    padding: 0.5rem 1rem; /* Un peu d'espace autour du texte */
    display: inline-block; /* Pour que le fond et les coins arrondis soient visibles */
    margin-bottom: 0.5rem; /* Espacement entre les liens */
    text-align: center; /* Centrer le texte si besoin */
    text-decoration: none; /* Enlever le soulignement si ce sont des liens */
    color: #000; /* Couleur du texte */
    transition: background-color 300ms ease; /* Ajout de la transition pour le fond */
}

.nav-item:hover {
    background-color: orange; /* Couleur de fond au survol */
}
.nav-item-link.accueil {
    border-bottom: 3px solid orange; /* Surlignage orange en dessous du texte */
}

.page {
    padding: 5rem 2rem 2rem;
}

.content-focus {
    border-bottom: 3px solid #ccc;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-titles {
    width: 50%;
    font-size: 3em;
    margin-right: 2rem;
}

.content-title {
    max-width: 450px;
    margin-left: auto;
}
.content-title--main{
    font-weight: bold;
}
.content-title--sub{
    color: rgb(155, 146, 146);
}
.content-picture {
    width: 50%;
    position: relative;
    display: inline-block;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

.picture {
    width: 50%;
}
.picture-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background: rgba(61, 59, 59, 0.6);
    color: white;
    padding: 10px;
    margin: 0;
    opacity: 3;
  }

.content-quote {
    border-top: 3px solid #ccc;
    margin-top: 2rem;
}

.content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.content h3 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content ol {
    list-style-type: decimal;
    font-size: 1.1em;
    margin-left: 1.5em;
    line-height: 1.5;
}

.articles {
    margin-top: 5rem;
}

.articles-container {
    margin-top: 2rem;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* espace entre les images */
}

.card {
    margin-bottom: 2rem;
}

.card-title {
    margin: 2rem 1rem;
    font-size: 1.7em;
    font-weight: bold;
}

.card-content {
    padding: 0 1rem;
}

.card-content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.card-footer {
    margin: 2rem 1rem;
}

.btn {
    padding: 1rem 2rem; /* Aération intérieure */
    font-size: 1.2em; /* Taille de police */
    border: 2px solid #f39c12; /* Contour orange */
    color: #f39c12; /* Texte en orange */
    background-color: transparent; /* Fond transparent pour faire ressortir le contour */
    border-radius: 30px; /* Coins arrondis pour un style plus doux */
    margin: 0 10px; /* Espacement horizontal entre les boutons */
    text-decoration: none; /* Supprimer le soulignement des liens */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition douce pour l'effet hover */
  }
  
  /* Effet au survol pour plus d'interactivité */
  .btn:hover {
    background-color: #f39c12; /* Fond orange au hover */
    color: #fff; /* Texte blanc au hover */
    cursor: pointer; /* Curseur pointeur */
  }

.footer {
    background: #111;
    padding: 4rem 2rem;
    text-align: center;
    color: #aaa;
}

/*
    Styles pour les écrans de moins de 1200px de large :
*/
/*

    .content-focus {
        display:block;
    }

    .content-titles {
        width: auto;
        text-align: center;
        margin-right: 0;
    }

    .content-title {
        max-width: none;
    }

    .content-picture {
        width: auto;
    }

    .articles-container {
      
        display:block;
    }
    .card {
        width:auto;
    }

*/

/*
    Styles pour les écrans de moins de 900px de large :
*/
/*
    .header {
        position:static;
        width:auto;
        float:none;
        margin-left:0;
    }

    .container {
        width:96%;
        padding-left:0;
    }

    .page {
        padding: 0 1rem;
    }

    .nav {
        padding: 1rem;
    }

    .nav .title {
        display:none;
    }

    .nav-links {
        margin-top:0;
    }

    .nav-item {
        width:calc(33.3333% - .5rem);
        text-align: center;
    }

    .nav-item-link {
        margin-bottom: 0;
    }

*/
